
<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1 text-center">
    <h1>Welcome to the Flixter app</h1>
    <br />
    <h2>The application we build will be a two-sided video-streaming marketplace, featuring credit card payment capabilities, user role management, advanced UI and UX, and advanced database relationships, which is similar to other platforms like Udemy.</h2>
    <br />
   <!-- to add a button for Learn more -->
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>