<br />

<div class="booyah-box col-10 offset-1">
  <h1>Privacy Policy</h1>

  <p>
   This Privacy Policy discloses the privacy practices for Flixster and online-learning portal. 

    WHAT INFORMATION DO WE GATHER ABOUT YOU?

    We collect information from you when you access Harvard.edu and when you subscribe to our email service.

    WHAT DO WE USE YOUR INFORMATION FOR?

    We use your IP address to help diagnose problems with our server and to administer our website by identifying (1) which parts of our site are most heavily used, and (2) which portion of our audience comes from within the Harvard network. We do not link IP addresses to anything personally identifiable. This means that user sessions will be tracked, but the users will remain anonymous.

    The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.

    User information may be shared with third-party partners to the extent necessary to provide and improve web services or other communications to users. Any third parties who receive user information for this purpose are prohibited from using or sharing user information for any purpose other than providing services to users.

    We may also provide your information to third parties in circumstances where we believe that doing so is necessary or appropriate to: satisfy any applicable law, regulation, legal process or governmental request; detect, prevent or otherwise address fraud, security or technical issues; or protect the rights, property or safety of us, our users or others.


  </p>
</div>